// CORES DE TEMA

// // BLUE PEARL
// // $bp_header: #006fa3;
// // $bp_mais_claro_1: #059ee6;
// // $bp_mais_claro_2: #2886b1;
// // $bp_font_contador: #ffb103;
// // $bp_background: #fafafa;
// // $bp_notification_bar: #f6a81f;

// // YELLOW EGG
// // $bp_header: #ffbe2d;
// // $bp_mais_claro_1: #d7921b;
// // $bp_mais_claro_2: #d7921b;
// // $bp_font_contador: #865d02;
// // $bp_background: #fafafa;
// // $bp_notification_bar: #2d7dd6;

// // RED BLOOD
$bp_header: #202020;
$bp_mais_claro_1: #8f262a;
$bp_mais_claro_2: #8f262a;
$bp_font_contador: #812428;
$bp_background: #fafafa;
$bp_notification_bar: #8f262a;

@each $theme-name, $colors in $themes-page-colors {
  $header: map-get($colors, header);
  $mais_claro_1: map-get($colors, mais_claro_1);
  $mais_claro_2: map-get($colors, mais_claro_2);
  $font_contador: map-get($colors, font_contador);
  $background: map-get($colors, background);
  $notification_bar: map-get($colors, notification_bar);
  $concessionaria: map-get($colors, concessionaria);
	
  body.theme-site-#{$theme-name} {background-color: $background}
  .theme-site-#{$theme-name} {
    .test-1 {background-color: $header}
    .test-2 {background-color: $mais_claro_1}
    .test-3 {background-color: $font_contador}
    .test-4 {background-color: $background}
    .test-5 {background-color: $notification_bar}

    .notification-bar{background-color: $notification_bar;}
    .notification-bar-blink{background-color: mix($notification_bar, #000, 90%)}
	.header{background-color: $header;}
	.search{border: 2px solid $mais_claro_1;color: $header;}
	.phone-numbers-container{background-color: $mais_claro_2}
	.title-car{color: $mais_claro_2;}
	.rodape-content-container{background-color: $header; box-shadow: 0px -30px 94px $background;}
	.contador-text{color: $font_contador;}
	.white-bar-above-header-carro{background-color: $background}
	.form-title{background-color: $font_contador;}
	.form-text-container{background-color: $mais_claro_1;}
    .info-modal-container{background-color: mix($header, transparent, 90%)}
    .logo-concessionaria{background-image: url("../img/logo/logo-#{$concessionaria}.png");}
	@media screen and (max-width: 481px)
	{
		.header-mobile{display: block; height: 50px; width: 100%; position: absolute; background-color: $header;}
		.busca-mobile{@include rect(50, 50); position: absolute; background-color: $mais_claro_1;}
		.rodape-content-container{background-color: $header; box-shadow: 0px -15px 45px $background;}
		.cta-text{color: $font_contador;}
	}
  }
}

// CORES PADRAO
$laranja_tile_title: #e4802e;
$amarelo_tile_title: #ffbe2d;
$magenta_tile_title: #903c3c;
$azul_tile_title: #4da7ae;
$cinza_tile_title: #8e8f8d;

$faixa_preco_1: #79c1c0;
$faixa_preco_2: #e9dd74;
$faixa_preco_3: #f4a175;

$azul_bonus: #3dacbb;
$amarelo_dotz: #ffb103;
$preco_por: #2886b1;

// CONTENT

body{background-color: $bp_background}

// NOTIFICATION BAR

.notification-bar{@include section(0px); background-color: $bp_notification_bar; @include transition(0.5); cursor: pointer;}
.notification-bar-show{height: 40px} .notification-bar-blink{background-color: mix($bp_notification_bar, #000, 90%)}
.notification-content-container{@include posCenter(380, 28);}
 .notification-number{@include rect(30, 20); position: relative; float: left; margin-top: 4px; background-color: #fff; border-radius: 10px; color: #666; text-align: center; line-height: 22px; box-shadow: 0px 0px 4px rgba(0,0,0,0.3);}
 .notification-text{width: auto; height: 100%; position: relative; float: left; margin-left: 10px; font-family: "KlavikaLight-Plain"; font-size: 15px; color: #fff; line-height: 32px}
 .notification-text span{text-decoration: underline;}

// HEADER 

.header{@include section(auto); background-color: $bp_header; position: fixed; z-index: 9}
.header-mobile{display: none}
.header-content{@include rectXCenter(920, 100px); position: relative; float: left;
	@include BP(1){@include rectXCenter(200, 100px);position: relative; float: left;}
	@include BP(2){@include rectXCenter(200, 100px);position: relative; float: left;}
	@include BP(3){@include rectXCenter(400, 100px);position: relative; float: left;}
	@include BP(4){@include rectXCenter(720, 100px);position: relative; float: left;}
	@include BP(5){@include rectXCenter(900, 100px);position: relative; float: left;}
	@include BP(6){@include rectXCenter(1100, 100px);position: relative; float: left;}
	@include BP(7){@include rectXCenter(1300, 100px);position: relative; float: left;}
	@include BP(8){@include rectXCenter(1600, 100px);position: relative; float: left;}
	@include isMobile{height: 50px;};
}
.logo-concessionaria{@include posCenter(300, 60);} .logo-concessionaria{@include isMobile{-webkit-transform: scale(0.7);};}
.search{@include rect(220, 30); position: absolute; left: 0px; top: 32px; border: 2px solid $bp_mais_claro_1; border-radius: 5px; font-family: "KlavikaLight-Plain"; color: $bp_header; text-align: center; box-shadow: 0px 0px 4px rgba(0,0,0,0); @include transition(0.3);}
 .search:focus{box-shadow: 0px 0px 5px rgba(0,0,0,0.6);} 
	
.phone-numbers-container{width: 200px; height: 100%; @include posAright(0, 0); background-color: $bp_mais_claro_2}
	.phone-numbers-container{@include isMobile{display: none};}
.phone-numbers{@include posCenter(150, 50); line-height: 13px;} .phone-icon{width: 40px; position: absolute;} .phone-icon-2{width: 40px; position: absolute; left: 5px}
.phone-number-text{position: relative; float: left; margin-top: 3px; margin-left: 50px; font-family: "KlavikaLight-Plain"; font-size: 14px; color: #fff;}

// TILE PRINCIPAL

.main-tile{@include section(auto); background-color: rgba(0, 0, 0, 0.1); margin-top: 100px;}

// TILES DE OFERTA

.tiles-container{@include section(500px); overflow: visible;}
.tiles-columns-container{@include rectXCenter(920, auto); top: 40px; margin-bottom: 60px;
	@include BP(2){@include rectXCenter(240, auto);}
	@include BP(3){@include rectXCenter(440, auto);}
	@include BP(4){@include rectXCenter(680, auto);}
	@include BP(5){@include rectXCenter(920, auto);}
	@include BP(6){@include rectXCenter(1160, auto);}
	@include BP(7){@include rectXCenter(1400, auto);}
	@include BP(8){@include rectXCenter(1640, auto);}
}

.tile-column{@include rectHeightAuto(200); position: relative; float: left; margin-left: 15px; margin-right: 15px;}
.tile{@include section(auto); width: 200px; margin-bottom: 30px; background-color: #fff; border-radius: 8px; box-shadow: 0px 0px 8px rgba(0,0,0,0.1);}
// TILE TITLE
.tile-title{@include section(36px);}
 .tile-title-esp{@extend .tile-title; background-color: $laranja_tile_title;}
 .tile-title-rel{@extend .tile-title; background-color: $azul_tile_title;}
 .tile-title-con{@extend .tile-title; background-color: $magenta_tile_title;}
 .tile-title-4{@extend .tile-title; background-color: $cinza_tile_title;}
.tile-title-text{@include auto; position: absolute; top: 11px; left: 40px; font-family: "KlavikaLight-Plain"; color: #fff; line-height: 17px; text-transform: uppercase;}
.key-icon{width: 26px; position: absolute; left: 4px; top: 1px;}
.thunder-icon{width: 18px; position: absolute; left: 10px; top: 5px;}
.list-icon{width: 18px; position: absolute; left: 10px; top: 10px;}
.warning-icon{width: 23px; position: absolute; left: 8px; top: 7px;}
.title-car{@include section(36px); background-color: white; font-family: "FuturaDZ-Heavy"; font-size: 20px; text-align: center; line-height: 40px; color: $bp_mais_claro_2; text-transform: uppercase; border-bottom: 3px solid #2886b1;}
.image-car-container{@include section(150px); background-color: #fff} .image-car{@include posCenter(181, 88);}
.price-car-type{@include section(40px); background-color: #b8baba; text-transform: uppercase;}
	.price-de-type{@extend .price-car-type; height: 30px} .price-por-type{@extend .price-car-type; background-color: $preco_por}
// .price-de{@extend .price-car; background-color: #ccc; height: 32px} .price-por{@extend .price-car; background-color: $bp_mais_claro_1}
.price-car{width: auto; height: 100%; position: relative; float: left; color: #fff; font-family: "KlavikaLight-Plain"; border-right: 1px solid #fff; text-transform: inherit;}
	.price-de{@extend .price-car; padding: 6px 10px 0px 8px; font-size: 16px;}
	.price-por{@extend .price-car; padding: 7px 10px 0px 8px; font-size: 20px}
		.price-por.preco-valor{font-size: 16px; line-height: 27px;}
		.price-por.preco-valor span{font-size: 24px;}
.preco-valor{float: right;} .price-de.preco-valor{text-decoration: line-through;}
// .price-type-de{@extend .price-type; background-color: #f8f8f8; color: #666; padding: 8px} .price-type-por{@extend .price-type; background-color: #f8f8f8 ; color: $bp_mais_claro_1;}
.dotz-car{@include section(36px); background-color: $amarelo_dotz; font-family: "FuturaDZ-Heavy"; text-align: center; color: #fff; line-height: 40px; @include bgimg(selos/dotz, png); text-shadow: 2px 2px 6px #000;}
.dotz-car span{font-size: 25px}
.bonus-car{@include section(36px); background-color: $azul_bonus; font-family: "FuturaDZ-Heavy"; text-align: center; color: #fff; line-height: 40px; @include bgimg(selos/bonus, png); text-shadow: 2px 2px 6px #000; font-size: 14px}
.bonus-car span{font-size: 22px}
.cta-car-container{@include section(60px);}
.cta-car{@include posCenter(180, 40); background-color: green; @include gradientTB(#a2dd17, #59a400); border-radius: 8px; text-align: center; color: #fff; line-height: 40px; font-family: "KlavikaLight-Plain";}
.cta-car:hover{@include gradientTB(#59a400, #a2dd17); cursor: pointer;}

.of-rel-cover{@include fullsize; background-color: #4da7ae; @include transition(4); border-radius: 8px}
.of-rel-thunder-icon-large{@include posCenter(100,100);}

// TILES ESPECIAIS

// TILE CHAT ONLINE
.tile-chat-online{@extend .tile; height: 240px; margin-left: 0px;}
.tile-chat-online-content{width: 100%; height: 95px; position: absolute; bottom: 0px;}
#tile-chat-img-status{position: absolute; width: 95%; right: 0px; top: 13px}
.chat-online-title{width: 100%; height: auto; position: absolute; top: 5px; font-family: "KlavikaLight-Plain"; font-size: 18px; text-align: center; color: #fff}
.chat-online-status-bar{width: 100%; height: 10px; position: absolute; top: 40px; background-color: $amarelo_tile_title}

// TILE DE FILTROS 
.tile-filtros-content{@include section(170px); background-color: #fff}
#container .tile-filtros{width: 440px}
.seletor{position: relative; float: left; width: 392px; margin: 20px 20px;}
.range-button{width: 100px; height: 40px; position: relative; float: left; background-color: #666; margin-top: 10px; text-align: center; cursor: pointer; color: #fff; font-family: "KlavikaLight-Plain"; font-size: 14px; padding-top: 5px; text-shadow: 0px 0px 8px rgba(0,0,0,0.6); line-height: 17px}
.range-button span{font-size: 20px;}
 .range-button-1{@extend .range-button; width: 115px; @include flatButton($faixa_preco_1, mix($faixa_preco_1, #000, 95%)); background-color: $faixa_preco_1; border-radius: 7px 0px 0px 7px;}
 .range-button-2{@extend .range-button; width: 157px; @include flatButton($faixa_preco_2, mix($faixa_preco_2, #000, 95%)); background-color: $faixa_preco_2}
 .range-button-3{@extend .range-button; width: 120px; @include flatButton($faixa_preco_3, mix($faixa_preco_3, #000, 95%)); background-color: $faixa_preco_3; border-radius: 0px 7px 7px 0px;}
  .range-button-1:hover{@include flatButton(mix($faixa_preco_1, #000, 90%), mix($faixa_preco_1, #000, 85%));}
  .range-button-2:hover{@include flatButton(mix($faixa_preco_2, #000, 90%), mix($faixa_preco_2, #000, 85%));}
  .range-button-3:hover{@include flatButton(mix($faixa_preco_3, #000, 90%), mix($faixa_preco_3, #000, 85%));}
  .range-button-1:active{@include flatButton(mix($faixa_preco_1, #000, 85%), mix($faixa_preco_1, #000, 80%));}
  .range-button-2:active{@include flatButton(mix($faixa_preco_2, #000, 85%), mix($faixa_preco_2, #000, 80%));}
  .range-button-3:active{@include flatButton(mix($faixa_preco_3, #000, 85%), mix($faixa_preco_3, #000, 80%));}
.faixa-de-preco-label{font-family: "KlavikaLight-Plain"; font-size: 20px; position: relative; float: left; padding: 20px 10px 0px 20px; color: #8e8f8d;}
.faixa-de-preco-amount{text-align: center; width: 210px; background-color: #4da7ae; color: #fff; font-family: "KlavikaLight-Plain"; font-size: 16px; border-radius: 6px; padding: 10px; border: 0; margin-left: 20px;}

// TILE INFO
.tile-informacoes{@extend .tile; width: 100%}
.tile-informacoes-img{@include section(240px); background-color: $amarelo_tile_title;}
.tile-informacoes-img img{width: 100%; @include BP(4){width: auto; height: 100%};}
.tile-informacoes-img-text{@include auto; @include posA(95,20); font-family: "BebasNeue"; font-size: 50px; color: #fff; letter-spacing: 2px; text-shadow: 0px 0px 7px rgba(0,0,0,0.8);}
.tile-informacoes-text{@include section(auto); width: 93%; padding: 30px; font-family: "KlavikaLight-Plain"; font-size: 16px; color: #666;}

// RODAPE
.rodape{@include section(auto); position: fixed; bottom: 0px; z-index: 9; overflow: visible;}
.rodape-content-container{width: 100%; height: 60px; position: absolute; bottom: 0px; background-color: $bp_header; box-shadow: 0px -30px 94px $bp_background;}
.rodape-content{@include rectXCenter(920, 60px); position: relative; float: left;}
#contador{@include posCenter(200, 50);; display: block; position: absolute; z-index: 99;}
.contador-text{@include rect(320, 30); position: absolute; top: 9px; font-family: "BebasNeue"; font-size: 40px; color: $bp_font_contador; letter-spacing: 5px; line-height: 49px;}
.contador-text-l{@extend .contador-text; left: 50%; margin-left: -400px}
.contador-text-r{@extend .contador-text; right: 50%; margin-right: -440px; width: 320px;}
.info-icon{position: absolute; width: 20px; cursor: pointer;} .info-icon:hover{opacity: 0.9}

// RODAPE MOBILE

.rodape-content-mobile{width: 100%; height: 50px; position: absolute; bottom: 0px;}
.cta-consultor{@include square(50); position: absolute; @include gradientTB(#a2dd17,#90c414); display: none}
.cta-text{width: 410px; height: auto; font-family: "BebasNeue"; font-size: 21px; color: #fff; letter-spacing: 2px; padding: 12px 0px 0px 60px;}
.rodape-mobile{display: none}

// MODAL INFO

.info-modal-container{@include fullsize; background-color: rgba(0,111,163,0.9); position: fixed; z-index: 10; display: none}
.info-modal-container-back{@include fullsize;}
.info-modal-content-container{width: 60%; height: auto; position: absolute; left: 20%; margin-top: 8%; background-color: #fff; border-radius: 8px; box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); overflow: hidden;}
.info-modal-close{@include circle(25); background-color: #fff; position: absolute; right: 0px; margin-top: 5px; margin-right: 5px; cursor: pointer;}
.info-modal-close:hover{opacity: 0.7}

// MOBILE

@media screen and (max-width: 481px)
{
	// HEADER MOBILE
	.header-mobile{display: block; height: 50px; width: 100%; position: absolute; background-color: $bp_header;}
	.busca-mobile{@include rect(50, 50); position: absolute; background-color: $bp_mais_claro_1;}
	.busca-mobile-close{@extend .busca-mobile; right: 0px; display: none; @include transition(0.5);}
	.search-field{width: 60%; height: 30px; position: absolute; top: 8px; left: 18%; background-color: #fff; border: 0; border-radius: 5px; font-family: "KlavikaLight-Plain";
		color: $bp_header; text-align: center; box-shadow: 0px 0px 4px rgba(0,0,0,0); @include transition(0.3); font-size: 14px; display: none
		; @include transition(0.5);}
	// RODAPE MOBILE
	.cta-consultor{display: block}
	.rodape-mobile{display: block}

	.notification-content-container{@include posCenter(290, 28);}
	.tiles-columns-container{margin-top: 45px;}
	.notification-text{font-size: 11px}
	.tile-filtros{display: none}
	.search{display: none}
	.main-tile{display: none}
	.tile{width: 240px}
	.tile-chat-online{display: none}
	.tile-informacoes-img img{height: 100%; width: auto;}
	.tile-informacoes-img-text{font-size: 30px;}
	.tile-informacoes-text{width: 73%;}
	.rodape-content-container{height: 50px}
	.rodape-content{display: none}
}

// BIG MOBILE

@media screen and (min-width: 481px) and (max-width: 801px)
{
	.header-content{height: 70px;}
	.phone-numbers-container{display: none}
	.notification-content-container{@include posCenter(290, 28);}
	.notification-text{font-size: 11px}
	.tile-filtros{display: none}
	.search{display: none}
	.tile-informacoes-img img{height: 100%; width: auto;}
	.tile-informacoes-img-text{font-size: 30px;}
	.tile-informacoes-text{width: 73%;}
	#contador{@include transformScale(0.8);}
	.contador-text{font-size: 25px}
	.contador-text-l{margin-left: -300px} .contador-text-r{margin-right: -415px}
}