$themes-page-colors: (
	1: (
		header: #006fa3,
		mais_claro_1: #059ee6,
		mais_claro_2: #2886b1,
		font_contador: #ffb103,
		background: #fafafa,
		notification_bar: #f6a81f,
    concessionaria: jorlan
	),
	2: (
		header: #ffbe2d,
		mais_claro_1: #d7921b,
		mais_claro_2: #d7921b,
		font_contador: #865d02,
		background: #fafafa,
		notification_bar: #2d7dd6,
    concessionaria: minas
	),
	3: (
		header: #202020,
		mais_claro_1: #8f262a,
		mais_claro_2: #8f262a,
		font_contador: #812428,
		background: #fafafa,
		notification_bar: #8f262a,
    concessionaria: plaza
	),
  4: (
    header: #fafafa,
    mais_claro_1: #cccccc,
    mais_claro_2: #cccccc,
    font_contador: #006fa3,
    background: #e5e2e2,
    notification_bar: #006fa3,
    concessionaria: orca
  )
);

$themes-car-colors: (
  1: (
    header_carro: #344b5f,
    header_carro_title: #fff,
    table_title: #e89702,
    table_data: #344b5f,
    cinza_formulario: #f1f1f1
  ),
  2: (
    header_carro: #cecf77, 
    header_carro_title: #5c5c35,
    table_title: #3B8686,
    table_data: #0B486B,
    cinza_formulario: #f1f1f1
  ),
  3: (
    header_carro: #3B8686, 
    header_carro_title: #fff,
    table_title: #3B8686,
    table_data: #0B486B,
    cinza_formulario: #f1f1f1
  ),
  4: (
    header_carro: #666, 
    header_carro_title: #fff,
    table_title: #3B8686,
    table_data: #0B486B,
    cinza_formulario: #f1f1f1
  )
);